/*Body*/
html {
  scroll-behavior: smooth;
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    color: black;
    padding-right: 48px;
    padding-left: 48px;
    cursor: url("assets/icons/curseur-noir.png"), pointer;
}

/*Elements multiples*/
.bouton{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 24px 64px;
    width: fit-content;
    font-weight: 500;
    transition: all .2s ease-in-out;
    border-radius: 40px;
    cursor: url("assets/icons/curseur-bleu.png"), pointer;
}
.bouton.primaire{
    background: #0040ff;
    color: white;
}
.bouton.primaire:hover{
    background: #809fff;
}
.bouton.secondaire{
    background: transparent;
    color: #0040ff;
    border: 2px solid #0040ff;
}
.bouton.secondaire:hover{
    border: 2px solid #809fff;
    color: #809fff;
}
.bouton-container{
    display: flex;
    gap: 16px;
}
#realisations h2, #avis h2{
    display: flex;
    justify-content: center;
    font-size: 300%;
    margin: 0;
    padding-top: 48px;
    padding-bottom: 48px;
}
.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Navigation*/
nav img{
    width: 120px;
    transition: all .2s ease-in-out;
}
nav img:hover{
    transform: scale(1.1);
}
nav a{
    display: flex;
    align-items: center;
    object-fit: contain;
    cursor: url("assets/icons/curseur-bleu.png"), pointer;
}
#menu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding:0;
    gap: 64px;
}
#menu a{
    font-weight: light;
    text-decoration: none;
    color: #0040ff;
    transition: all .2s ease-in-out;
}
#menu a:hover{
    font-weight: bold;
}
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-bottom: 12px;
}

/*Header*/
header{
    display: flex;
    padding: 48px;
    background: linear-gradient(#dfe7ff ,white);
    border-radius: 16px;
}
#about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
#about p{
    font-size: 16px;
    margin: 0;
    line-height: 32px;
    padding-right: 48px;
}
#about-img{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
#about-img img{
    width: 100%;
    border-radius: 8px;
}
#about h3{
    font-size: 32px;
    margin-bottom: 0;
    margin-top: 0;
}
#about h1{
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 0;
}

/*competences*/
#competences{
    display: flex;
    justify-content: center;
    gap: 48px;
    background: white;
    padding-bottom: 48px;
}
#competences .cards-container{
    display: flex;
    justify-content: center;
    gap: 128px;
}
#competences .cards-container .cards{
    display: flex;
    width:25%;
}
.image-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 176px;
    height: 176px;
}
.txt-competences h2{
    display: flex;
    justify-content: center;
}
.txt-competences p{
    text-align: center;
    font-size: 16px;
    margin: 0;
    line-height: 32px;
}
#competences .cards img{
    width: 120px;
    object-fit: cover;
}
.cards img{
    width: auto;
    object-fit: cover;
}

/*Réalisations*/
#realisations .cards-container img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 16px;
}
#realisations .cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#realisations .cards{
    width: 30vw;
    transition: all 0.2s ease-in-out;
}
#realisations .cards a{
    display:flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    cursor: url("assets/icons/curseur-bleu.png"), pointer;
}
#realisations .txt-realisations{
    padding-top: 24px;
    padding-bottom: 24px;
    transition: all 0.2s ease-in-out;
}
#realisations .txt-realisations h3{
    margin-top: 0;
    margin-bottom: 12px;
}
#realisations .txt-realisations p{
    margin-top: 12px;
    margin-bottom: 0;
}
#realisations .cards:hover .txt-realisations{
    color: #0040ff;
}

/*Témoignages*/
#avis{
    padding-top: 48px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 24px;;
}
#avis img{
    width: 60px;
    height: 60px;
    border-radius: 40px;
    object-fit: cover;
}
#avis .cards-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 24px;
}
#avis .cards{
    display: flex;
    background: #dfe7ff;
    color: black;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 48px;
    height: 200px;
    border-radius: 16px;
}
#avis .cards #quote{
    line-height: 32px;
    font-style: italic;
    margin:0;
}
#avis .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#avis #profil{
    display: flex;
    align-items: center;
    gap: 16px;
}
#avis .content h3, h4{
    margin-top: 8px;
    margin: 0;
}
#avis #pic{
    align-self: end;
    display: flex;
}
#avis #txt{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
#avis #note{
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    background: #0040ff;
}
#avis #note p{
    color: white;
    margin: 0;
}

/*Section bannière contact*/
#banner{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #dfe7ff;
    border-radius: 16px;
    padding: 48px;
    gap: 25%;
}
#txt-banner h2, #reseaux{
    display: flex;
    flex-direction: column;
    margin: 0;
}
#txt-banner p{
    margin-top: 16px;
    margin-bottom: 16px;
}
#reseaux{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    padding: 0;
    gap: 24px;
}
#txt-banner{
    display:flex;
    flex-direction: column;
}
#reseaux img{
    width: 35px;
    height: 100%;
    cursor: url("assets/icons/curseur-bleu.png"), pointer;
}

/*Footer*/
footer{
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    gap: 4px;
}
footer img{
    width: 120px;
}
footer a{
    display: flex;
    align-items: center;
    object-fit: contain;
    cursor: url("assets/icons/curseur-bleu.png"), pointer;
}

/* Responsive
VERSION MOBILE 
@media only screen and (max-width: 991px) {

Header
header{
    display: flex;
    height: 58vh;
    padding: 48px;
    background: white;
}
#about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about p{
    font-size: 16px;
    margin: 0;
    line-height: 32px;
    padding-right: 48px;
}
#about-img img{
    width: 100%;
}
#about h3{
    font-size: 32px;
    margin-bottom: 0;
    margin-top: 0;
}
#about h1{
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 0;
}
}

VERSION DESKTOP
@media only screen and (min-width: 992px) {

}*/
